.wrapper {
	align-content: flex-start;
	background-color: var(--ghostwhite);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 5rem 2.5rem;
}

.panelsWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 5rem;
	width: 100%;
}

.panel {
	flex-grow: 1;
}

.swapButton {
	align-self: center;
	align-items: center;
	background-color: var(--black);
	border-radius: 50%;
	border: none;
	display: flex;
	color: var(--white);
	height: 4rem;
	justify-content: center;
	margin: 3rem 0;
	width: 4rem;
}

.converterButton {
	background-color: var(--black);
	border: none;
	color: var(--white);
	min-width: 18rem;
	padding: 2rem;
}

.converterButton:disabled {
	background-color: var(--gray);
	cursor: not-allowed;
}

.marketRateWrapper {
	margin-bottom: 2rem;
}

.marketRateDescription {
	color: var(--gray);
}

.marketRateValue {
	font-size: 2rem;
}

.errorPanel {
	background: var(--error);
	color: var(--black);
	margin-bottom: 2rem;
	padding: 1rem;
	text-align: center;
	width: 100%;
}

@media (min-width: 48em) {
	.wrapper {
		padding: 10rem 5rem;
	}

	.panelsWrapper {
		flex-direction: row;
		justify-content: space-between;
	}

	.swapButton {
		margin: 0 3rem;
	}

	.marketRateWrapper {
		margin-bottom: 0;
	}

	.errorPanel {
		padding: 2rem 5rem;
	}
}
