.wrapper {
	background-color: var(--whitesmoke);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 5rem 2rem;
}

.pocketsWrapper {
	margin-bottom: 5rem;
	width: 100%;
}

.exchangeMoneyWrapper {
	width: 100%;
}

@media (min-width: 64em) {
	.wrapper {
		flex-direction: row;
		justify-content: space-between;
		padding: 10rem;
	}

	.pocketsWrapper {
		margin-bottom: 0;
		width: 35%;
	}

	.exchangeMoneyWrapper {
		width: 60%;
	}
}
