*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

:root {
	--gray: #9e9ea7;
	--whitesmoke: #f4f4fa;
	--ghostwhite: #fbfbfd;
	--white: #fff;
	--black: #000;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	line-height: 1.4;
	font-family: 'Open Sans', sans-serif;
}

button {
	cursor: pointer;
}
